$an-slideInRight: slide-in-right;

@keyframes slide-in-right {
    from {
             -o-transform: translateX(100%);
        -webkit-transform: translateX(100%);
           -moz-transform: translateX(100%);
                transform: translateX(100%);
    } to {
             -o-transform: translateX(0);
        -webkit-transform: translateX(0);
           -moz-transform: translateX(0);
                transform: translateX(0);
    }
}